---
const currentTime = new Date().toLocaleDateString("en-US", {
  year: "numeric",
  month: "short",
  day: "numeric",
});

const { execSync } = await import("child_process");
const hash = execSync("git log -1 --pretty=format:%h src/lib/leaderboard.ts").toString().trim();
---

<footer>
  <div class="flex justify-between items-center text-xs font-mono text-dim uppercase">
    <div>Last updated: {currentTime}</div>
    <div>
      <a
        href="https://github.com/MinorJerry/WebVoyager"
        target="_blank"
        rel="noopener noreferrer nofollow"
        class="hover:text-accent hover:underline transition-colors">WEBVOYAGER</a
      >
    </div>
    <div>
      <a
        href={`https://github.com/steel-dev/leaderboard/blob/main/src/lib/leaderboard.ts`}
        target="_blank"
        rel="noopener noreferrer"
        class="hover:text-accent hover:underline transition-colors">@{hash}</a
      >
    </div>
  </div>
</footer>
